 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**

* List popular languages for data science 
* List of popular libraries used for data science 
* table of open source development tools
* some examples of arithmetic in Python

## Author

Heinrich

In [1]:
##Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++
4. Scala
5. Java
6. SQL

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|------------------|
| Jupyter          |
| R Studio         |
| Apache Spark     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
'This a simple arithmetic expression to mutiply then add integers'
(3*4)+5

17

In [3]:
'This will convert 200 minutes to hours by dividing by 60'
200/60

3.3333333333333335